<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">O nama
                <small>Informacije</small>
            </h1>
            <ol class="breadcrumb">
                <li><a [routerLink]="['/']">Početna</a>
                </li>
                <li class="active">O nama</li>
                <p>
                Kompanija  Alesandro posluje od 1997 godin.Bavi se distribucijom igracaka najpoznatijih svetskih brendova ,aktuelni trendovi na trzistu su uslovili da Alesandro 2006 godine prosiri svoje poslovanje na proizvodnju decijih igracaka robne marke ,,KOCKALINE" Pored proizvodnje i maloprodaje bavimo se i opremanjem decijih vrtica i igraonica i drugih objekata namenjenih za zabavu i animaciju najmladjih.Osim igracaka u nasem maloprodajnom objektu kupce ocekuje bogat izbor decije garderobe i bebi  opreme renomiranih proizvodjaca.
                </p>
            </ol>
        </div>
    </div>
</div>