
<div class="wrapper">
    <div class="column">
        <div class="inner"></div>
    </div>
    <div class="column">
        <div class="inner"></div>
    </div>
    <div class="column">
        <div class="inner"></div>
    </div>
    <div class="column">
        <div class="inner"></div>
    </div>
    <div class="column">
        <div class="inner"></div>
    </div>
    <div class="column">
        <div class="inner"></div>
    </div>
    <div class="column">
        <div class="inner"></div>
    </div>
    <div class="column">
        <div class="inner"></div>
    </div>
    <div class="column">
        <div class="inner"></div>
    </div>
    <div class="column">
        <div class="inner"></div>
    </div>
    <div class="column">
        <div class="inner"></div>
    </div>
    <div class="column">
        <div class="inner"></div>
    </div>
</div>