/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto');

html,
body {
    height: 100%;
}

.full-height {
    min-height: 74vh;
}

a {
    text-decoration: none;
}

.mb-10 {
    margin-bottom: 10px;
}

a:hover {
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    /*padding-top: 50px; !* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. *!*/
}

.footer {
    height: 10vh;
}

.navbar {
    height: 6vh;
}

.first {
    height: 54vh;
}

.second {
    height: 40vh;
    background-color: #ff1e00;
}

.third {
    height: 50vh;
}

.img-portfolio {
    width: 100%;
    height: 50%;
    margin-bottom: 30px;
}

.img-hover:hover {
    opacity: 0.8;
}

/* Home Page Carousel */

header.carousel {
    height: 50%;
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 100%;
}

header.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

/* 404 Page Styles */

.error-404 {
    font-size: 100px;
}

/* Pricing Page Styles */

.price {
    display: block;
    font-size: 50px;
    line-height: 50px;
}

.price sup {
    top: -20px;
    left: 2px;
    font-size: 20px;
}

.period {
    display: block;
    font-style: italic;
}

/* Footer Styles */

footer {
    /*margin: 50px 0;*/
}

/* Responsive Styles */

@media (max-width: 991px) {
    .customer-img,
    .img-related {
        margin-bottom: 30px;
    }
}

@media (max-width: 767px) {
    .img-portfolio {
        margin-bottom: 15px;
    }

    header.carousel .carousel {
        height: 70%;
    }
}