

<!-- Page Content -->
<div class="container">

    <!-- Marketing Icons Section -->
    <div class="row first">
        <div class="col-lg-12">
            <h1 class="page-header">
                Aktuelno
            </h1>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-info-circle"></i> O nama</h4>
                </div>
                <div class="panel-body">
                    <p>Kompanija Alesandro posluje od 1997 godine. Bavi se distribucijom igračaka najpoznatijih svetskih
                        brendova, aktuelni...</p>
                    <a [routerLink]="['/o-nama']" class="btn btn-default">Saznajte više</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-gift"></i> Kockaline</h4>
                </div>
                <div class="panel-body">
                    <p>Krupne kocke, zaobljenih ivica, veselih pastelnih boja, lako se sklapaju. Kockaline kroz igru
                        pomažu razvoju...</p>
                    <a [routerLink]="['/kockaline']" class="btn btn-default">Saznajte više</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-photo"></i> Galerija</h4>
                </div>
                <div class="panel-body">
                    <p>Da istrajnim i posvećenim radom stvorimo snažnu kompaniju prepoznatljivu po kvalitetu i
                        inovativnosti proizvoda kojima...</p>
                    <a [routerLink]="['/galerija']" class="btn btn-default">Saznajte više</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

    <!-- Features Section -->
    <div class="row two">
        <div class="col-lg-12">
            <h2 class="page-header">Reference</h2>
        </div>
        <div class="col-md-6">
            <p>Naše proizvode mozete naći u maloprodajnim lancima:</p>
            <ul>
                <li><i>Dexy co Kids</i></li>
                <li><i>OFY Company</i></li>
                <li><i>Magaza Magična Oaza</i></li>
                <li><i>Trefolino</i></li>
                <li><i>Aksa</i></li>
                <li><i>Milenijum</i></li>
            </ul>
            <p>
                Sarađujemo sa većinom kompanija u
                Srbiji koje se bave distribucijom dečijih igračaka i
                trudimo se da saradnja bude konstantna i dinamična.
            </p>
        </div>
    </div>
    <!-- /.row -->

    <div class="row third">
        <div class="row-lg-4">
            <h3 class="col-lg-offset-5"></h3>
            <div class="col-lg-2" align="center">
                <div class="row-lg-4">
                  <a href = "https://www.dexy.co.rs">  <img src="../assets/img/dexyco-logo.png"
                                           class="img-responsive"></a>
                </div>
            </div>
            <div class="col-lg-2" align="center">
                <div class="row-lg-4">
                    <a href ="http://www.ofy.rs"><img src="../assets/img/ofy-logo.png"
                                           class="img-responsive"></a>
                </div>
            </div>
            <div class="col-lg-2" align="center">
                <div class="row-lg-4">
                    <a href ="http://www.magazayu.com/"> <img src="../assets/img/magaza-logo.png"
                                                       class="img-responsive"></a>
                </div>
            </div>
            <div class="col-lg-2" align="center">
                <div class="row-lg-4">
                    <a href ="http://trefline.rs/"> <img src="../assets/img/trefolino-logo.png"
                                                       class="img-responsive"> </a>
                </div>
            </div>
            <div class="col-lg-2" align="center">
                <div class="row-lg-4">
                    <a href ="http://shop.aksa.rs/"><img src="../assets/img/aksa-logo.png"
                                                      class="img-responsive"> </a>
                </div>
            </div>
            <div class="col-lg-2" align="center">
                <div class="row-lg-4">
                    <a href ="http://www.milenijumza.co.rs/"> <img src="../assets/img/milenijum-logo.jpg"
                                                       class="img-responsive"> </a>
                </div>
            </div>
        </div>
    </div>
    <hr>

    <!-- Call to Action Section -->
    <div class="well fourth">
        <div class="row">
            <div class="col-md-8">
                <p>
                    Ako imate da nam postavite neko pitanje ili ste otvoreni za poslovnu saradnju
                    možete nas kontaktirati klikom na kontakt formu.
                </p>
            </div>
            <div class="col-md-4">
                <a class="btn btn-lg btn-default btn-block" href="#">Kontakt forma</a>
            </div>
        </div>
    </div>
    <hr>
</div>